.Ordercard{
    background-color: white;
    margin: 10px;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(0, 0,0, 0.1);
    border-radius: 13px;
    box-shadow: 1px 1px 13px 0px rgb(0,0,0,0.1);
    overflow: hidden;
}
.head{
    background-color: #F1F5F9;
}

.code{
    color: rgb(17, 17, 17);
    font-size: 24px;
}

.code2{
    color: #64748B;
    font-size: 12px;
}

.bg{
    height: 1.8rem;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

hr{
    color: black;
}


.hrvr{
    width: 4px;       /* Thickness of the line */
  height: inherit;    /* Length of the line */
  background-color: rgb(250, 1, 1);
  border: none;
  border-radius: 12px;
  margin: 0.5rem;
}

.sub{
    
}

h3{
    padding-bottom: 5px;
}

.order{
    background-color: white;
}

ul{
    margin-bottom: 0rem;
}

.c-red{
    background-color: #B91C1C;
}
.c-blue{
    background-color: #2563EB;
}
.c-green{
    background-color: #10B981;
}

.button{
    padding: 18px 10px;
    margin-bottom: 10px ;
    border-radius: 12px;
    border-style: none;
    width: 95%;
    /* justify-content: center; */
    /* align-items: center; */
    color: white;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timecolor-green{
    
    background-color: #A7F3D0;
    color: #10B981;
}

.timecolor-blue{
    background-color: #DBEAFE;
    color:#1D4ED8;
}

.timecolor-red{
    background-color: #FEE2E2;
    color : #B91C1C
}