@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #b7102a;
  --secondary-color: #515f74;
  --surface-color: #fff8f7;
  --variant-color: #f9dcda;
  --success-color: #16a34a;
  --warning-color: #eab308;
  --error-color: #ba1a1a;
  --variant-color: #f9dcda;
  --btn-color: #fff;
  --text-color-1: #0f172a;
  --text-color-2: #334155;
  --text-color-3: #64748b;
  --text-color-4: #1E293B;
  --main-bg-color: #fff;
  --login-text-color : #8E001B;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  color: var(--text-color-1);
  background-color: var(--main-bg-color);
  line-height: 18px;
  min-height: 100vh;
}

.h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.8px;
}

.h2 {
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 24px;
  line-height: 25px;
}

h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color-2);
  margin: 0;
}

p {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color-3);
}
span {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-color-3);
}

.a {
  /* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

width: 103.11px;
height: 42px;

background: #B91C1C;
box-shadow: 0px 1px 2px rgba(127, 29, 29, 0.2);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}


svg {
  color: #475569;
  cursor: pointer;
}

.min-100vh {
  min-height: 100vh;
}