aside {
  height: 100vh;
  width: 256px;
}

.dFaShop {
  background-color: #fee2e2;
  border-radius: 8px;
}

.faShop {
  color: #b7102a;
}

.header {
  color: var(--text-color-1);
  font-size: 18px;
  font-weight: 700;
}

.activeLi {
  color: #fff;
  background: #b91c1c;
  border-radius: 8px;
}
.activeA {
  font-size: 14px;
  color: inherit;
}

.ReceiptIcon {
  color: inherit;
}

.link {
  color: #475569;
  text-decoration: none;
  font-size: 14px;
}


